.rc-tree li a.rc-tree-node-selected{
  .cus-label {
    background-color: white;
    border: none;
  }
}

.rc-tree-list {
  
  .rc-tree-row-wrap {
    display: flex;
  }
  .rc-tree-row {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .rc-tree-treenode-row {
      margin-right: 8px;
    }
  }
}
